@page
@model FrotiX.Models.NotaFiscal

@{
ViewData["Title"] = "Notas Fiscais";
ViewData["PageName"] = "notafiscal_index";
ViewData["Heading"] = "<i class='fad fa-file-invoice-dollar'></i> Cadastros: <span class='fw-300'>Notas Fiscais</span>";
ViewData["Category1"] = "Cadastros";
ViewData["PageIcon"] = "fal fa-file-invoice-dollar";
}

@section HeadBlock {
}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .form-control-xs {
        height: calc(1em + .775rem + 2px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        margin-top: 10px;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="/NotaFiscal/Upsert" class="btn btn-azul">
                        <i class="fa-duotone fa-file-plus icon-space icon-pulse"></i>&nbsp; Adicionar Nota Fiscal
                    </a>
                </div>

                <br /><br />

                <div class="panel-content">
                    <div class="box-body">
                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">
                                Escolha um Contrato/Empenho para visualizar suas Notas Fiscais:
                            </h2>
                        </div>

                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <label class="label font-weight-bold">Contrato/Ata</label>
                                        <select id="lstInstrumento" class="form-control form-control-sm">
                                            <option value="">-- Selecione um Instrumento --</option>
                                            <option value="0">Contrato</option>
                                            <option value="1">Ata de Registro de Preços</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="divContrato" class="form-group row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label class="label font-weight-bold">Status...</label>
                                            <select id="lstStatusContrato" class="form-control form-control-sm">
                                                <option value="1">Ativo</option>
                                                <option value="0">Inativo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label font-weight-bold">Contratos</label>
                                        <select id="ListaContratos" name="ListaContratos" class="form-control form-control-sm">
                                            <option value="">-- Selecione um Contrato --</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="divAta" class="form-group row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label class="label font-weight-bold">Status...</label>
                                            <select id="lstStatusAta" class="form-control form-control-sm">
                                                <option value="1">Ativa</option>
                                                <option value="0">Inativa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label font-weight-bold">Atas de Registro de Preços</label>
                                        <select id="ListaAtas" name="ListaAtas" class="form-control form-control-sm">
                                            <option value="">-- Selecione uma Ata --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <label class="label font-weight-bold">Empenhos</label>
                                    <select id="ListaEmpenhos" name="ListaEmpenhos" class="form-control form-control-sm">
                                        <option value="">-- Selecione um Empenho --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br /><br />

                        <div id="divNF" hidden="hidden">
                            <table id="tblNotaFiscal" class="table table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>Número da Nota</th>
                                        <th>Data de Emissão</th>
                                        <th>Valor</th>
                                        <th>Objeto</th>
                                        <th>Tipo NF</th>
                                        <th>Valor de Glosa</th>
                                        <th>Ação</th>
                                        <th>ContratoId</th>
                                        <th>EmpenhoId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Glosa -->
<div class="modal fade" id="modalglosa">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header modal-header-dinheiro">
                <h4 class="modal-title" id="DynamicModalLabel">Glosar Valores da Nota</h4>
            </div>

            <div class="modal-body table-bordered">
                <form id="frmglosa">
                    <input type="hidden" id="txtNotaId" />
                    <input type="hidden" id="txtNotaFiscal" />

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label class="font-weight-bold">Motivo da Glosa</label>
                                <span class="text-danger"></span>
                                <input id="txtMotivoGlosa" class="form-control form-control-xs" />
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Valor da Glosa</label>
                                <span class="text-danger"></span>
                                <input id="txtValorGlosa" class="form-control form-control-xs" data-inputmask="'alias': 'currency'" style="text-align: right;" onkeypress="return(moeda(this,'.',',',event))" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="btnglosar" class="btn btn-azul form-control" type="submit" value="SUBMIT">
                            <i class="fa-duotone fa-file-plus icon-space icon-pulse"></i> Glosar Nota
                        </button>
                        <button type="button" class="btn btn-vinho form-control" data-bs-dismiss="modal">
                            <i class="fa-solid fa-rotate-left icon-space icon-rotate-left"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section ScriptsBlock {

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="~/js/cadastros/notafiscal.js" asp-append-version="true"></script>

    <script>
        function moeda(a, e, r, t) {
            try {
                let n = "",
                    h = j = 0,
                    u = tamanho2 = 0,
                    l = ajd2 = "",
                    o = window.Event ? t.which : t.keyCode;

                if (o == 13 || o == 8) return true;

                n = String.fromCharCode(o);
                if ("0123456789".indexOf(n) == -1) return false;

                u = a.value.length;
                for (h = 0; h < u && (a.value.charAt(h) == "0" || a.value.charAt(h) == r); h++);
                for (l = ""; h < u; h++) {
                    if ("0123456789".indexOf(a.value.charAt(h)) != -1) l += a.value.charAt(h);
                }
                l += n;
                u = l.length;

                if (u == 0) a.value = "";
                if (u == 1) a.value = "0" + r + "0" + l;
                if (u == 2) a.value = "0" + r + l;

                if (u > 2) {
                    ajd2 = "";
                    j = 0;
                    for (h = u - 3; h >= 0; h--) {
                        if (j == 3) {
                            ajd2 += e;
                            j = 0;
                        }
                        ajd2 += l.charAt(h);
                        j++;
                    }
                    a.value = "";
                    tamanho2 = ajd2.length;
                    for (h = tamanho2 - 1; h >= 0; h--) a.value += ajd2.charAt(h);
                    a.value += r + l.substr(u - 2, u);
                }
                return false;
            } catch (error) {
                Alerta.TratamentoErroComLinha("Index.cshtml", "moeda", error);
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            try {
                document.getElementById("divContrato").style.display = "none";
                document.getElementById("divAta").style.display = "none";

                $("#lstInstrumento").on("change", function () {
                    try {
                        if ($("#lstInstrumento").val() === "0") {
                            document.getElementById("divContrato").style.display = "block";
                            document.getElementById("divAta").style.display = "none";
                            $("#ListaContratos").empty();
                            loadListaContratos(1);
                        }

                        if ($("#lstInstrumento").val() === "1") {
                            document.getElementById("divAta").style.display = "block";
                            document.getElementById("divContrato").style.display = "none";
                            $("#ListaAtas").empty();
                            loadListaAtas(1);
                        }
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "lstInstrumento.change", error);
                    }
                });

                $("#lstStatusContrato").on("change", function () {
                    try {
                        var status = $(this).val();
                        $("#ListaContratos").empty();
                        loadListaContratos(status);
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "lstStatusContrato.change", error);
                    }
                });

                $("#lstStatusAta").on("change", function () {
                    try {
                        var status = $(this).val();
                        $("#ListaAtas").empty();
                        loadListaAtas(status);
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "lstStatusAta.change", error);
                    }
                });

                function loadListaContratos(status) {
                    try {
                        $.ajax({
                            type: "get",
                            url: "/api/Contrato/ListaContratos",
                            data: { id: status },
                            success: function (res) {
                                try {
                                    var option = '<option value="">-- Selecione um Contrato --</option>';
                                    if (res != null && res.data.length) {
                                        res.data.forEach(function (obj) {
                                            option += '<option value="' + obj.value + '">' + obj.text + "</option>";
                                        });
                                    }
                                    $("#ListaContratos").empty().append(option);
                                } catch (error) {
                                    Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaContratos.success", error);
                                }
                            },
                            error: function (error) {
                                Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaContratos.ajax", error);
                            }
                        });
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaContratos", error);
                    }
                }

                function loadListaAtas(status) {
                    try {
                        $.ajax({
                            type: "get",
                            url: "/api/AtaRegistroPrecos/ListaAtas",
                            data: { id: status },
                            success: function (res) {
                                try {
                                    var option = '<option value="">-- Selecione uma Ata --</option>';
                                    if (res != null && res.data.length) {
                                        res.data.forEach(function (obj) {
                                            option += '<option value="' + obj.value + '">' + obj.text + "</option>";
                                        });
                                    }
                                    $("#ListaAtas").empty().append(option);
                                } catch (error) {
                                    Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaAtas.success", error);
                                }
                            },
                            error: function (error) {
                                Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaAtas.ajax", error);
                            }
                        });
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "loadListaAtas", error);
                    }
                }

                function resetNFTable() {
                    try {
                        if ($.fn.DataTable.isDataTable("#tblNotaFiscal")) {
                            $("#tblNotaFiscal").DataTable().clear().destroy();
                        }
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "resetNFTable", error);
                    }
                }

                $("#ListaContratos").on("change", function () {
                    try {
                        var contrato = $(this).val();
                        GetEmpenhoList(contrato);

                        resetNFTable();
                        $("#divNF").removeAttr("hidden");

                        $("#tblNotaFiscal").DataTable({
                            columnDefs: [
                                { targets: 0, className: "text-center", width: "6%" },
                                { targets: 1, className: "text-center", width: "7%" },
                                { targets: 2, className: "text-right", width: "8%" },
                                { targets: 3, className: "text-left", width: "6%" },
                                { targets: 4, className: "text-left", width: "6%" },
                                { targets: 5, className: "text-right", width: "6%" },
                                { targets: 6, className: "text-center", width: "8%" },
                                { targets: 7, className: "text-center", width: "10%", visible: false },
                                { targets: 8, className: "text-center", width: "10%", visible: false }
                            ],
                            responsive: true,
                            ajax: {
                                url: "/api/notafiscal/nfcontratos",
                                data: { id: contrato },
                                type: "GET",
                                datatype: "json"
                            },
                            columns: [
                                { data: "numeroNF" },
                                { data: "dataFormatada" },
                                { data: "valorNFFormatado" },
                                { data: "objeto" },
                                { data: "tipoNF" },
                                { data: "valorGlosaFormatado" },
                                {
                                    data: "notaFiscalId",
                                    render: function (data) {
                                        return `<div class="text-center">
                                                    <a href="/NotaFiscal/Upsert?id=${data}" class="btn btn-azul text-white" data-ejtip="Editar a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-delete btn-vinho text-white" data-ejtip="Excluir a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                    <a class="btn btn-glosa btn-dark text-white" data-bs-toggle="modal" data-bs-target="#modalglosa" id="rowdata" data-ejtip="Glosar Nota" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-ballot-check"></i>
                                                    </a>
                                                </div>`;
                                    }
                                },
                                { data: "contratoId" },
                                { data: "empenhoId" }
                            ],
                            language: {
                                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                                emptyTable: "Sem Dados para Exibição"
                            },
                            width: "100%"
                        });
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "ListaContratos.change", error);
                    }
                });

                $("#ListaAtas").on("change", function () {
                    try {
                        var ata = $(this).val();
                        GetEmpenhoListAta(ata);

                        resetNFTable();
                        $("#divNF").removeAttr("hidden");

                        $("#tblNotaFiscal").DataTable({
                            columnDefs: [
                                { targets: 0, className: "text-center", width: "6%" },
                                { targets: 1, className: "text-center", width: "7%" },
                                { targets: 2, className: "text-right", width: "8%" },
                                { targets: 3, className: "text-left", width: "6%" },
                                { targets: 4, className: "text-left", width: "6%" },
                                { targets: 5, className: "text-right", width: "6%" },
                                { targets: 6, className: "text-center", width: "8%" },
                                { targets: 7, className: "text-center", width: "10%", visible: false },
                                { targets: 8, className: "text-center", width: "10%", visible: false }
                            ],
                            responsive: true,
                            ajax: {
                                url: "/api/notafiscal/nfatas",
                                data: { id: ata },
                                type: "GET",
                                datatype: "json"
                            },
                            columns: [
                                { data: "numeroNF" },
                                { data: "dataFormatada" },
                                { data: "valorNFFormatado" },
                                { data: "objeto" },
                                { data: "tipoNF" },
                                { data: "valorGlosaFormatado" },
                                {
                                    data: "notaFiscalId",
                                    render: function (data) {
                                        return `<div class="text-center">
                                                    <a href="/NotaFiscal/Upsert?id=${data}" class="btn btn-azul text-white" data-ejtip="Editar a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-delete btn-vinho text-white" data-ejtip="Excluir a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                    <a class="btn btn-glosa btn-dark text-white" data-bs-toggle="modal" data-bs-target="#modalglosa" id="rowdata" data-ejtip="Glosar Nota" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-ballot-check"></i>
                                                    </a>
                                                </div>`;
                                    }
                                },
                                { data: "contratoId" },
                                { data: "empenhoId" }
                            ],
                            language: {
                                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                                emptyTable: "Sem Dados para Exibição"
                            },
                            width: "100%"
                        });
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "ListaAtas.change", error);
                    }
                });

                $("#ListaEmpenhos").on("change", function () {
                    try {
                        var empenho = $(this).val();

                        resetNFTable();

                        $("#tblNotaFiscal").DataTable({
                            columnDefs: [
                                { targets: 0, className: "text-center", width: "6%" },
                                { targets: 1, className: "text-center", width: "7%" },
                                { targets: 2, className: "text-right", width: "8%" },
                                { targets: 3, className: "text-left", width: "6%" },
                                { targets: 4, className: "text-left", width: "6%" },
                                { targets: 5, className: "text-right", width: "6%" },
                                { targets: 6, className: "text-center", width: "8%" },
                                { targets: 7, className: "text-center", width: "10%", visible: false },
                                { targets: 8, className: "text-center", width: "10%", visible: false }
                            ],
                            responsive: true,
                            ajax: {
                                url: "/api/notafiscal/nfempenhos",
                                data: { id: empenho },
                                type: "GET",
                                datatype: "json"
                            },
                            columns: [
                                { data: "numeroNF" },
                                { data: "dataFormatada" },
                                { data: "valorNFFormatado" },
                                { data: "objeto" },
                                { data: "tipoNF" },
                                { data: "valorGlosaFormatado" },
                                {
                                    data: "notaFiscalId",
                                    render: function (data) {
                                        return `<div class="text-center">
                                                    <a href="/NotaFiscal/Upsert?id=${data}" class="btn btn-azul text-white" data-ejtip="Editar a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-delete btn-vinho text-white" data-ejtip="Excluir a Nota Fiscal" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                    <a class="btn btn-glosa btn-dark text-white" data-bs-toggle="modal" data-bs-target="#modalglosa" id="rowdata" data-ejtip="Glosar Nota" style="cursor:pointer; padding: 2px 6px !important; font-size: 12px !important; margin: 1px !important;" data-id="${data}">
                                                        <i class="far fa-ballot-check"></i>
                                                    </a>
                                                </div>`;
                                    }
                                },
                                { data: "contratoId" },
                                { data: "empenhoId" }
                            ],
                            language: {
                                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                                emptyTable: "Sem Dados para Exibição"
                            },
                            width: "100%"
                        });
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "ListaEmpenhos.change", error);
                    }
                });

            } catch (error) {
                Alerta.TratamentoErroComLinha("Index.cshtml", "document.ready", error);
            }
        });

        $(document).on("click", ".btn-glosa", function () {
            try {
                var id = $(this).data("id");
                var numeroNota = $(this).closest("tr").find("td:eq(0)").text();
                $("#txtNotaId").attr("data", id);
                $("#txtNotaFiscal").attr("data", numeroNota);
            } catch (error) {
                Alerta.TratamentoErroComLinha("Index.cshtml", ".btn-glosa.click", error);
            }
        });

        /* ==========================================
           Modal Glosa (Bootstrap 5)
           ========================================== */
        (function ()
        {
            try
            {
                const modalElement = document.getElementById('modalglosa');
                if (!modalElement)
                {
                    console.warn('[Index.cshtml] Elemento #modalglosa não encontrado');
                    return;
                }

                // Evento show.bs.modal
                modalElement.addEventListener('show.bs.modal', function (event)
                {
                    try {
                        var button = $(event.relatedTarget);
                        var notaId = button.data("id");
                        var notaFiscal = button.closest("tr").find("td:eq(0)").text();

                        $(this).find("#DynamicModalLabel").html($("<b>Glosar valores da Nota: " + notaFiscal + "</b>"));
                        $("#btnglosar").attr("data-id", notaId);
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "on show.bs.modal", error);
                    }
                });

                // Evento hide.bs.modal
                modalElement.addEventListener('hide.bs.modal', function ()
                {
                    try {
                        $(this).find("#modal_body").html("");
                    } catch (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "on hide.bs.modal", error);
                    }
                });
            }
            catch (error)
            {
                Alerta.TratamentoErroComLinha("Index.cshtml", "init@modalglosa", error);
            }
        })();

        $("#btnglosar").click(function (e) {
            try {
                e.preventDefault();

                if ($("#txtMotivoGlosa").val() === "") {
                    Alerta.Erro("Atenção", "O motivo da Glosa é obrigatório!");
                    return;
                }

                if ($("#txtValorGlosa").val() === "") {
                    Alerta.Erro("Atenção", "O valor da Glosa é obrigatório!");
                    return;
                }

                var valorglosa = $("#txtValorGlosa").val();
                var i = 0;
                while ((i = valorglosa.indexOf(".", i)) !== -1) {
                    valorglosa = valorglosa.replace(".", "");
                }
                valorglosa = valorglosa.replace("R$", "").trim();

                var notaId = $("#txtNotaId").attr("data");
                var payload = JSON.stringify({
                    "NotaFiscalId": notaId,
                    "MotivoGlosa": $("#txtMotivoGlosa").val(),
                    "ValorGlosa": valorglosa
                });

                $.ajax({
                    type: "post",
                    url: "/api/NotaFiscal/Glosa",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: payload,
                    success: function (data) {
                        try {
                            AppToast.show("Verde", data.message, 2000);
                            if ($.fn.DataTable.isDataTable("#tblNotaFiscal")) {
                                $("#tblNotaFiscal").DataTable().ajax.reload(null, false);
                            }
                            // Fecha modal via Bootstrap 5
                            const modalElement = document.getElementById('modalglosa');
                            if (modalElement)
                            {
                                const modalInstance = bootstrap.Modal.getInstance(modalElement);
                                if (modalInstance)
                                {
                                    modalInstance.hide();
                                }
                                else
                                {
                                    const modal = new bootstrap.Modal(modalElement);
                                    modal.hide();
                                }
                            }
                            location.reload();
                        } catch (error) {
                            Alerta.TratamentoErroComLinha("Index.cshtml", "#btnglosar.ajax.success", error);
                        }
                    },
                    error: function (error) {
                        Alerta.TratamentoErroComLinha("Index.cshtml", "#btnglosar.ajax", error);
                    }
                });
            } catch (error) {
                Alerta.TratamentoErroComLinha("Index.cshtml", "#btnglosar.click", error);
            }
        });
    </script>
}
