@page
@model FrotiX.Models.PlacaBronze

@{
	ViewData["Title"] = "Placas de Bronze";
	ViewData["PageName"] = "cadastros_placabronze";
	ViewData["Heading"] = "<i class='fa-duotone fa-file-certificate'></i> Cadastros: <span class='fw-300'>Placas de Bronze</span>";
	ViewData["Category1"] = "Cadastros";
	ViewData["PageIcon"] = "fa-duotone fa-file-certificate";
}

@section HeadBlock {
	<style>
		/* ======== OUTLINE BRANCO NO BOTÃO DO HEADER (Padrão FrotiX) ======== */
		.ftx-card-header .btn-fundo-laranja {
			outline: 2px solid rgba(255, 255, 255, 0.5) !important;
			outline-offset: 1px;
			transition: all 0.2s ease;
		}

		.ftx-card-header .btn-fundo-laranja:hover {
			outline: 2px solid rgba(255, 255, 255, 0.8) !important;
			outline-offset: 2px;
		}

		.fundo-cinza {
			background-color: #2F4F4F;
			color: aliceblue;
		}
	</style>
}

<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-container show">
				<!-- HEADER DO CARD -->
				<div class="ftx-card-header">
					<h2 class="titulo-paginas">
						<i class="fa-duotone fa-rectangle-history"></i>
						Listagem de Placas de Bronze
					</h2>
					<div class="ftx-card-actions">
						<a href="/PlacaBronze/Upsert"
						   class="btn btn-fundo-laranja"
						   data-ftx-loading
						   data-ejtip="Adicionar nova placa de bronze ao sistema">
							<i class="fa-duotone fa-clone-plus icon-pulse me-1"></i>
							Adicionar Placa de Bronze
						</a>
					</div>
				</div>

				<div class="panel-content">
					<div class="box-body">
						<br /><br />
						<table id="tblPlacaBronze" class="table table-bordered table-striped" width="100%">
							<thead>
								<tr>
									<th>Descrição da Placa</th>
									<th>Veículo Associado</th>
									<th>Status</th>
									<th>Ação</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section ScriptsBlock {
	@* IMPORTANTE: Não incluir global-toast.js aqui se já estiver no _Layout *@
	@* Carregar o script específico da página apenas uma vez *@
	<script src="~/js/cadastros/placabronze.js" asp-append-version="true"></script>
}
